**Set**

* Index ile erişilemezler. Unordered yani sıralı değillerdir. (Bir sete erişmek istediğinizde sıralama her seferinde farklılaşıcaktır.)
* Setler değiştirilemez. Yani immutable. Tupleden farkı sete yeni eleman ekleyip çıkarabiliyoruz. Ama setin içerisindeki bir elemanı değiştiremiyoruz. !
* {} içerisinde tanımlanır. Elemanlar virgülle ayrılır.
* Farklı tipte veri taşımaya izin verir.
* Aynı değere sahip iki eleman yer ALAMAZ. Duplicate veri TAŞIMAZLAR. !

In [1]:
int_set = {1, 2, 3, 4}
string_set = {"Rüveyda", "Ece", "Merve", "Zeynep", "Bilge"}

mix_set = {12, "Sude", 10234.6, True}

In [2]:
print(mix_set)

{'Sude', True, 10234.6, 12}

In [3]:
print(type(mix_set))

<class 'set'>

In [9]:
my_set = {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}
{0, 1, 2, 3, 8, 9}

In [16]:
my_list = [1, 3, 8, True, 1, 2, "Ece", 8, 0, 9, 19, 3, 2, "Ece", True, False]
print(my_list)

my_set = set(my_list)
print(my_set) # 0-1 değerleri olduğu için True-False'u almadı. 0-1 olmasa true, false'u da basar

[1, 3, 8, True, 1, 2, 'Ece', 8, 0, 9, 19, 3, 2, 'Ece', True, False]
{0, 1, 2, 3, 8, 9, 'Ece', 19}

In [20]:
# Set içerisinde list kullanımı

my_set = {"Ayşe Nur", "Duygu", "Başak", ["Müzeyyen", "İrem", "Nihal"]} # listeler değiştirilebilir ama setler değiştirilemez

print(my_set)

TypeError: unhashable type: 'list'

In [19]:
# Set içerisinde tuple kullanımı

my_set = {"Ayşe Nur", "Duygu", "Başak", ("Müzeyyen", "İrem", "Nihal")}
print(my_set)

{('Müzeyyen', 'İrem', 'Nihal'), 'Ayşe Nur', 'Duygu', 'Başak'}

Boş bir set oluşturma

Boş bir liste ve tuple oluşturmak istediğimizde;
* my_list = []
* my_tuple = ()

Setlerde durum farklı

In [22]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [23]:
empty_set2 = {}
print(type(empty_set2))

<class 'dict'>

Bir setin elemanlarına nasıl erişiriz?

Elemanlara erişim

In [26]:
movies = {"How I met your mother", "The big bang theory", "Breaking bad", "Friends", "Person of Interest"}

for i in movies:
    print(i)

How I met your mother
Friends
Breaking bad
The big bang theory
Person of Interest

Set içerisinde eleman kontrolü

In [4]:
movies = {"How I met your mother", "The big bang theory", "Breaking bad", "Friends", "Person of Interest"}

if "Harry Potter" in movies:
    print("Diziler içerisinde mevcut")
else:
    print("Diziler içerisinde mevcut değil")

Diziler içerisinde mevcut değil

Bir setin uzunluğu

In [5]:
print("Dizi setinin uzunluğu", len(movies))

Dizi setinin uzunluğu 5

Bir Set'e Eleman ekleme # değiştiremiyoruz ama ekleme çıkarma yapabiliyoruz

* add() ile sete yeni bir eleman eklenir
* update() ile de birden fazla ekleme işemi yapılır # extend olarak düşünür

In [52]:
# add metodu ile
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya"}

books.add("Bu İş Asla Tutmaz")
print(books)

books.add("Harry Potter") # mevcutta var olan değeri tekrardan eklemez

{'Bu İş Asla Tutmaz', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'Serenad', 'Merhaba Dünya'}

In [53]:
# update metodu ile
books.update(["Körlük", "İnce Memed"])
print(books)

{'Körlük', 'Bu İş Asla Tutmaz', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'İnce Memed', 'Serenad', 'Merhaba Dünya'}

Bir Set içerisinden Eleman Silme

bir set içerisinde 5 farklı şekilde eleman silebiliriz

* remove()
* discard()
* pop()
* clear()
* del set

In [20]:
# remove()

books = {'Bu İş Asla Tutmaz', 'Harry Potter', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Serenad', 'Merhaba Dünya'}

books.remove("Harry Potter")
books

{'Bu İş Asla Tutmaz',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad'}

In [21]:
# Set içerisinde olmayan bir değeri silmek istersek hata alırız
books.remove("Harry Potter")
books # bir tane kullanıyorsak print yazmamıza gerek yok, birden fazla olursa en sondakini yazar

KeyError: 'Harry Potter'

In [46]:
# discard -> remove'dan tek farkı olmayan bir elemanı silerken hata vermez
books.discard("Harry Potter")

books

{'Bu İş Asla Tutmaz',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad'}

In [47]:
# pop() rastgele herhangi birini siler
books.pop()

books

{'Bu İş Asla Tutmaz',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad'}

In [48]:
# clear() set içerisindeki tüm elemanları siler
books.clear()

books # elimizde bir set var ama boş

set()

In [51]:
# del seti tamamen siler, sete ulaşamayız
del books

books

NameError: name 'books' is not defined

Set üzerinde kullanabileceğimiz operatörler

* union() -> |
* intersection() -> &
* difference() -> -
* symmetric_difference() -> ^

**Union()** # bildiğimiz kümelerin birleşmesi 

Union hariç hepsinde update yapabiliyoruz

İki seti birleştirmek için kullanılır.

In [54]:
# operatör kullanımı ile
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 | my_set2
my_set3

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

In [55]:
# union ile
my_set4 = my_set1.union(my_set2)

my_set4 # kesişimde yer alanları tek bir kere eklemiş oluyorsunuz

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

**Intersection(Kesişim)**

İki küme içerisinde yer alan ortak elemanları döndürür

In [57]:
# operatör ile
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

myset3 = my_set1 & my_set2
myset3

{'Ezgi', 'Merve'}

In [59]:
myset4 = my_set1.intersection(my_set2)

myset4

{'Ezgi', 'Merve'}

intersection_update

In [62]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set1.intersection_update(my_set2)
my_set1 # my_set1 update edilip o değerleri alıyor

{'Ezgi', 'Merve'}

**Difference**

In [64]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 - my_set2
my_set3

{'Asena', 'Aysel', 'Emre'}

In [67]:
my_set1.difference(my_set2) # my_set1 etkilenmiyor

{'Asena', 'Aysel', 'Emre'}

In [68]:
my_set1

{'Asena', 'Aysel', 'Emre', 'Ezgi', 'Merve'}

In [70]:
my_set1.difference_update(my_set2) # update ettiği için herhangi bir print yapmadı

{'Asena', 'Aysel', 'Emre'}

In [71]:
my_set1

{'Asena', 'Aysel', 'Emre'}

**Symmetric difference** # kesişim dışında geri kalan kısımlar

In [72]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

unique_set = my_set1 ^ my_set2
unique_set

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [74]:
unique_set2 = my_set2.symmetric_difference(my_set1)
unique_set2

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [75]:
my_set1.symmetric_difference_update(my_set2)

my_set1 # update yaptığım için behice, hatice kübra da eklendi

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [77]:
my_set2.symmetric_difference_update(my_set1)

my_set2

{'Behice', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

**Kopyalama işlemleri**

* copy()
* =

In [78]:
# = operatörü ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True, 'Vildan'}

In [81]:
# copy metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vildan")
my_set2 # my_set2 yi etkilemedi

{18, 'Ahmet', 'Sezen', True}

In [82]:
# set metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vildan")
my_set2 # iki set birbirinden bağımsız ama atama operatöründe öyle değil, orda bağımlılar

{18, 'Ahmet', 'Sezen', True}

Subset and Superset

In [84]:
languages = {"Python", "C#", "Java", "Kotlin", "Dart"}
languages2 = {"Kotlin", "Java"}

print(languages.issuperset(languages2))
print(languages.issubset(languages2))

True
False

isdisjoint() -> iki kümenin ayrık kümeler olup olmadığını kontrol eder, ortak bir elemen var mı yok mu?

In [86]:
languages = {"Python", "C#", "Java", "Kotlin", "Dart"}
languages2 = {"Kotlin", "Java"}
languages3 = {"flutter"}

print(languages.isdisjoint(languages2)) # hayır ayrık değil çünkü ortak elemanları var
print(languages.isdisjoint(languages3)) # hepsi farklı elemanlar

False
True

Frozenset -> değişmez bir set oluşturmak istenildiğinde kullanılır 

#hiçbir şekilde ekleme çıkarma yapamazsın, tuple gibi ama duplicate veri barındıramaz.

In [87]:
frozen_set = frozenset({"Nihan", "Edanur", "Buse", "Sena"})

In [89]:
frozen_set.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [90]:
# İki set içerisinde yer alan benzersiz elemanları ekrana basalım

set_1 = {10, 20, 30, 40, 50}
set_2 = {40, 50, 60, 80}

print(set_1.symmetric_difference(set_2))

{10, 80, 20, 60, 30}

In [91]:
# Bir listenin tüm elemanlarını bir sete ekleme işlemi yapalım

my_list = [1, 2, 3, 4]
my_set = {1, 4, 7, 9, 0}

my_set.update(my_list)
my_set

{0, 1, 2, 3, 4, 7, 9}

In [96]:
# Bir set içerisinde yer alan çift sayıları sil

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = []

for i in my_set:
    if i % 2 == 0:
        my_list.append(i)

my_list

# farklı bir yöntemle
# my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
# my_list = [i for i in my_set if i % 2 == 0] # list comprehension

# my_list

for i in my_list:
    my_set.remove(i)

my_set

{1, 3, 5, 7, 9}